<ion-view view-title="Opinion">
  <ion-content class="padding main-bg">
    <div class="container" ng-hide="hidespinner">
      <ion-spinner></ion-spinner>
    </div>
    <div class="list">
      <a href="#/tab/columnas/{{columna.id}}" class="columnas" collection-repeat="columna in columnas" item-width="95%" item-height="180px">
        <img ng-src="{{getImageBackground(columna.categories[0].slug)}}" alt="">
        <h2>
          <span class="column-name">{{columna.categories[0].title}}</span>
          {{columna.title}}
          <span class="editor">{{getName(columna.categories[0].slug)}}</span></h2>
      </a>
      </div>
      <div class="row">
        <div class="col" ng-hide="isFirst()">
          <button class="button button-assertive" ng-click="siguiente()" ng-show="hidespinner">
            Columnas Recientes
          </button>
        </div>
        <div class="col" ng-hide="lastPage()">
          <button class="button button-assertive" ng-click="anterior()" ng-show="hidespinner">
            Columnas Anteriores
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
