<ion-view view-title="Noticias">
  <ion-content>
    <div class="container" ng-hide="hidespinner">
      <ion-spinner></ion-spinner>
    </div>
    <div class="list">
      <a ui-sref="tab.single-noticias({postId: post.id})" class="item item-text-wrap list-news" ng-repeat="post in posts">
        <news post="post"></news>
      </a>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-assertive" ng-click="anterior()" ng-show="hidespinner">
          Noticias Anteriores
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
