<ion-view view-title="Videos">
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <a href="#/tab/videos/np-noticias"><img src="./img/np-noticias.png" alt="" /></a>
      </div>
      <div class="col col-50">
        <a href="#/tab/videos/fz10"><img src="./img/fz10.png" alt="" /></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="./img/desconectado.jpg" class="single-image" alt="" />
      </div>
    </div>
  </ion-content>
</ion-view>
