<ion-view view-title="Videos">
  <ion-content>
    <div class="row">
      <!-- <div class="col col-50">
        <a href="#/tab/videos/np-noticias"><img src="./img/np-noticias.png" alt="" /></a>
      </div>
      <div class="col col-50">
        <a href="#/tab/videos/fz10"><img src="./img/fz10.png" alt="" /></a>
      </div>
    </div> -->
    <div class="row responsive-sm">
      <div class="col">
        <img src="./img/desconectado.jpg" class="single-image" alt="" />
      </div>
      <div class="col post-container">
        <h2 style="text-align:center;">Programacion</h2>
        <h5>NP Noticias</h5>
        <p style="text-align:center;">Lunes a Viernes 1:00 a 2:00PM.</p>
        <h5>FZ10</h5>
        <p style="text-align:center;">Miercoles y Viernes de 2:30 a 3:30PM.</p>
      </div>
      <!-- <div class="col">
        <iframe width="480" height="270" src="https://www.ustream.tv/embed/recorded/73250068" allowfullscreen webkitallowfullscreen scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
      </div> -->
      <div class="col">
        <iframe src="http://www.ustream.tv/embed/recorded/73250068?html5ui=1&autoplay=true" style="border: 0 none transparent;"  webkitallowfullscreen allowfullscreen frameborder="no" width="480" height="302"></iframe>
      </div>
    </div>

  </ion-content>
</ion-view>
