<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{name}}">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-text-wrap post-container list-video" ng-repeat="video in videos">
      <div ng-bind-html="converteUrlYoutube(video.custom_fields.tie_video_url)" class="mini-video"></div>
      <h3 class="video-title">{{video.title}}</h3>
      </div>
    </div>
  </ion-content>
</ion-view>
