<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{name}}">
  <ion-content class="padding">
    <div class="list">
      <div class="item" ng-repeat="video in videos">
        {{converteUrlYoutube(video.custom_fields.tie_video_url)}}
      </div>
    </div>
  </ion-content>
</ion-view>
