<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{name}}">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-text-wrap post-container list-video" ng-repeat="video in videos" ng-click="showVideo(video.id)">
        <img src="./img/play-button.png" class="play" alt="" />
        <img ng-src="{{video.thumbnail.default}}" alt="" />
      <!-- <div ng-bind-html="converteUrlYoutube(video.custom_fields.tie_video_url)" class="mini-video"></div> -->
      <h3 class="video-title">{{video.title}}</h3>
      <!-- <iframe width="480" height="270" src="http://www.ustream.tv/embed/8317831?html5ui" allowfullscreen webkitallowfullscreen scrolling="no" frameborder="0" style="border: 0 none transparent;"></iframe> -->
      <!-- <iframe width="480" height="270" src="http://www.ustream.tv/embed/recorded/73250068?html5ui" allowfullscreen webkitallowfullscreen scrolling="no" frameborder="0" style="border: 0 none transparent;"></iframe> -->
      </div>
    </div>
  </ion-content>
</ion-view>
